name: Deploy API to IBM API Connect
 
on:
  workflow_dispatch:
    inputs:
      product_file:
        description: 'Ruta del archivo del producto (ej: product.yaml)'
        required: true
        default: '0-dev/apis/api-example.yaml'
      org_name:
        description: 'Nombre de la organización en IBM API Connect'
        required: true
        default: 'test-0'
      catalog_name:
        description: 'Nombre del catálogo destino (sandbox/test/prod)'
        required: true
        default: 'sandbox'
 
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy API Product
 
    env:
      APIC_SERVER: ${{ secrets.APIC_SERVER }}
      APIC_APIKEY: ${{ secrets.APIC_APIKEY }}
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Deploy API Product
        uses: ibm-apiconnect/actions@main
        with:
          manager-host: ${{ env.APIC_SERVER }}
          api-host: ${{ env.APIC_SERVER }}
          provider-org: ${{ github.event.inputs.org_name }}
          catalog: ${{ github.event.inputs.catalog_name }}
          apikey: ${{ env.APIC_APIKEY }}
          product-file: '0-dev/products/product.yaml'
          migrate_subscriptions: 'true'
 

      - name: Test API in Selected Catalog
        if: success()
        shell: python
        run: |
          import requests, sys
          webhook_url = 'https://hub.us-east-a.apiconnect.automation.ibm.com/apitest/api/rest/v1/b489c5cb-5787-4910-ba55-0feb4b83acd15%27
          headers = {
            "X-API-Key": "${{ secrets.API_TEST_KEY }}",
            "X-API-Secret": "${{ secrets.API_TEST_SECRET }}",
            "Content-Type": "application/json"
          }
          body = '{"options": { "allAssertions": true,"JUnitFormat": false}}'
          r = requests.post(f"{webhook_url}/tests/run", headers=headers, data=body)
          results = r.json()
          return_code = 0
          for result in results:
              print(f"Test: {result['testName']}\tResult: {result['status']}")
              if result['status'] != 'passed':
                  return_code += 1
          sys.exit(return_code)